//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================
@import "~@core/scss/base/bootstrap-extended/variables";

// brand-1: blue
// brand-2: green
// brand-3: black

.bg-brand-1 {
  background: $brand-1;
}

.text-brand-1 {
  color: $brand-1;
}

.bg-brand-2 {
  background-color: $brand-2;
}

.text-brand-2 {
  color: $brand-2;
}

.h7 {
  font-size: 14px;
}

.h8 {
  font-size: 13px;
}

.h9 {
  font-size: 12px;
}
