/*================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

// brand-1: blue
// brand-2: green
// brand-3: black

@import "~@core/scss/base/bootstrap-extended/variables";

// START - Common

// Background
.bg-brand-1 {
  background: $brand-1;
}

.bg-brand-2 {
  background-color: $brand-2;
}

.bg-brand-3 {
  background-color: $brand-3;
}

// Color
.text-brand-1 {
  color: $brand-1;
}

.text-brand-2 {
  color: $brand-2;
}

.text-brand-3 {
  color: $brand-3;
}

.text-gray {
  color: #cccccc;
}

//Font-size
.h7 {
  font-size: 14px;
}

.h8 {
  font-size: 13px;
}

.h9 {
  font-size: 12px;
}

// margin
.mr-05 {
  margin-right: 7px;
}
// END - Common

// START - Button
.shadow-brand-1:hover {
  box-shadow: 2px 10px 20px 1px rgba($brand-1, 0.3);
}
.shadow-brand-2:hover {
  box-shadow: 2px 10px 20px 1px rgba($brand-2, 0.3);
}
.shadow-brand-3:hover {
  box-shadow: 2px 10px 20px 1px rgba($brand-3, 0.3);
}

.btn {
  padding: 7px 14px;
  height: $height-button-brand-1;
}

.aligns-items-button-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
// END - Button

// START - Input
input:focus {
  border-color: $brand-1 !important;
}
.form-control,
input {
  height: $height-input-brand-1;
}

// input

// border input for vue-treeselect
.input-group:not(.bootstrap-touchspin):focus-within .input-group-text {
  border-color: $brand-1 !important;
}

// icon X color for input
.input-group-text {
  .bi-x.cursor-pointer.b-icon.bi:hover {
    color: red;
  }
}
// END - Input

// spacing 0.5
.mt-05 {
  margin-top: ($spacer * .5) !important;
}
